# asm Folder .gitignore

asm/*.o
asm/*.x

# cpp Folder .gitignore

# Prerequisites
cpp/*.d

# Compiled Object files
cpp/*.slo
cpp/*.lo
cpp/*.o
cpp/*.obj

# Precompiled Headers
cpp/*.gch
cpp/*.pch

# Compiled Dynamic libraries
cpp/*.so
cpp/*.dylib
cpp/*.dll

# Fortran module files
cpp/*.mod
cpp/*.smod

# Compiled Static libraries
cpp/*.lai
cpp/*.la
cpp/*.a
cpp/*.lib

# Executables
cpp/*.exe
cpp/*.out
cpp/*.app
